.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.display {
    border: 1px solid black;
    height: 50px;
    width: 160px;
    text-align: right;
}

.op {
    background-color: lightgray;
}

button {
    height: 50px;
    width: 50px;
}